
#main-navbar {
  a {
    color: color-default;
  }

  ul a:hover {
    background none;
    color: color-featured;
  }

  &, & .nav-wrapper i, & a.button-collapse, & a.button-collapse i {
    height: navbar-height;
    line-height: navbar-height;
  }
}

.navbar-fixed {
  height: navbar-height;
}

#logo-container {
  margin-top: 12px;

  > * {
    display: block;
    line-height: 1em;
  }

  sub {
    font-size: 50%;
    color: color-featured;
  }
}
